# exclude all
/*

!README.md
!src/
!unused_resources/
# minecraft data gen folder
**/.cache

# git
!.gitmodules
!.gitignore
!.github/

# Gradle
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties
!settings.gradle
!gradle/

